In [59]:
%matplotlib inline
import numpy as np
import pandas as pd
import bokeh as bh
import requests
import seaborn as sns

## Get some NHS time series data

"2 key metrics from insider perspective off the top of my head: number of acute beds in NHS hospitals, % of inpatients medically fit for discharge but waiting for social care"

- [Bed Time-series](https://www.england.nhs.uk/statistics/statistical-work-areas/bed-availability-and-occupancy/bed-data-overnight/)

- [Delayed care transfers](https://www.england.nhs.uk/statistics/statistical-work-areas/delayed-transfers-of-care/)

In [21]:
def wget(url):
    fname = url.split('/')[-1]
    r = requests.get(url)
    open(fname , 'wb').write(r.content)
    return fname


beds_overnight_87_10 = pd.read_excel(wget("https://www.england.nhs.uk/statistics/wp-content/uploads/sites/2/2013/04/Beds-Time-Series-%E2%80%93-1987-88-to-2009-10-XLS-34K.xls"))
beds_overnight_10_16 = pd.read_excel(wget("https://www.england.nhs.uk/statistics/wp-content/uploads/sites/2/2013/04/Beds-Timeseries-2010-11-onwards-Q3-2015-16-66187.xls"))
beds_day_10_16 = pd.read_excel(wget("https://www.england.nhs.uk/statistics/wp-content/uploads/sites/2/2013/04/Beds-Timeseries-2010-11-onwards-Q3-2015-16-66186-DO.xls"))

TypeError: wget() got an unexpected keyword argument 'skiprows'

In [64]:
pd.to_datetime(beds_overnight_87_10.iloc[5:,0])

IllegalMonthError: bad month number 88; must be 1-12

In [57]:
beds_overnight_10_16.iloc[12:-12,1:5]

,Title:,Average Daily Available and Occupied Beds Timeseries,Unnamed: 3,Unnamed: 4
12,2010/11,Q1,England,144455
13,2010/11,Q2,England,141477
14,2010/11,Q3,England,141630
15,2010/11,Q4,England,142319
16,2011/12,Q1,England,137354
17,2011/12,Q2,England,138525
18,2011/12,Q3,England,137963
19,2011/12,Q4,England,140454
20,2012/13,Q1,England,137287
21,2012/13,Q2,England,135559
22,2012/13,Q3,England,136044
23,2012/13,Q4,England,138178
24,2013/14,Q1,England,136459

In [ ]:
fig = bh.plotting.figure